<CodeViewer>
    <div class="tab-pane fade show active" id="nav-view" role="tabpanel" aria-labelledby="nav-view-tab">
        <div class="card bg-light mb-3">
            <div class="card-body">
<pre>
    &lt;p&gt;First Name:&lt;input bind="@@FirstName" /&gt;&lt;/p&gt;
    &lt;p&gt;Last Name:&lt;input bind="@@LastName" /&gt;&lt;/p&gt;
    &lt;h4&gt;Hello, @@FullName !&lt;/h4&gt;
</pre>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-model" role="tabpanel" aria-labelledby="nav-model-tab">
        <div class="card bg-light mb-3">
            <div class="card-body">
<pre>
    public string FirstName { get; set; } = "Planet";
    public string LastName { get; set; } = "Earth";
    public string FullName { get => $"{FirstName} {LastName}"; }
</pre>
            </div>
        </div>
    </div>
</CodeViewer>
