@page "/"

<h1>Live Examples</h1>

To see working examples of using Blazor to create responsive UIs, choose from the menu on the left.
<br /><br />
If you’re new to Blazor, start with the <a href="/helloworld">'Hello World'</a> example.

<SurveyPrompt Title="How is Blazor working for you?" />
